.notif{
    position: relative;
    width: fit-content;
    &:before{
        background-color: $color-notif;
        width:5px;
        height: 5px;
        content : ' ';
        position: absolute;
        @include border-radius(50%);
    }
    &--alt:before{
        background-color: $color-notif-alt ;
    }

    &--top{
        &:before{
            top: 0;
            right: -4px;
        }
    }

    &--center{
        &:before{
            top: 40%;
            right: -10px;
        }
    }
}

.badges{
    color: $color-white;
    padding: 2px 10px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    @include border-radius(15px);

    &--done{
        background-color: $color-done;
    }
    &--wait-payment{
        background-color: $color-wait-payment;
    }
    &--unprocess{
        background-color: $color-unprocess;
    }
    &--unverified{
        background-color: $color-unverified;
    }
    &--verified{
        background-color: $color-verified;
    }
    &--paid-off{
        background-color: $color-paid-off;
    }
    &--processed{
        background-color: $color-processed;
    }
    &--completed{
        background-color: $color-completed;
    }
    &--primary{
        background-color: $color-primary;
    }


}