.btn{
    font-weight: 700;
    border:none;
    cursor: pointer;
    @include transition(.3s);
    outline: none;
    text-align: center;
    cursor: pointer;
    &--primary{
        background-color: $btn-primary;

        &:hover{
            background-color: rgba($btn-primary,0.5);
        }
        &:visited,&:active{
            background-color: $btn-primary-focus;
        }
    }

    &--secondary{
        background-color: $btn-secondary;
        border: 1px solid $border-btn-secondary;
        color: $color-primary;
    }

    &--text {
        background-color: transparent;
        border:0;
        &-warning {
            color: $color-burnt-sienna;
        }
    }

    &--transparent{
        background-color: transparent;
        border: 1px solid $border-btn-secondary;
        color: $color-primary;
    }

    &--success{
        background-color: $btn-success;

        &:hover{
            background-color: rgba($btn-success,0.5);
        }
        &:visited,&:active{
            background-color: $btn-success-focus;
        }
    }

    &--warning{
        background-color: $btn-warning;
        &:hover{
            background-color: rgba($btn-warning,0.5);
        }
        &:visited,&:active{
            background-color: $btn-warning-focus;
        }
    }

    &--danger{
        background-color: $btn-danger;
        &:hover{
            background-color: rgba($btn-danger,0.5);
        }
        &:visited,&:active{
            background-color: $btn-danger-focus;
        }
    }
    &--disabled{
        background-color: rgba($btn-disabled,0.5);
        color: rgba($color-white,0.5);
        cursor: not-allowed;
    }

    &--muted {
        color: $color-topaz;
    }

        &--large{
            padding: 15px 40px;
            font-size: 18px;
            line-height: 22px;
            height: 52px;
            @include border-radius(30px);
            @include box-shadow(0 2px 4px 0 $color-lobiolly);
        }

        &--default{
            padding: 10px 35px;
            font-size: 16px;
            line-height: 22px;
            height: 42px;
            @include border-radius(25px);
        }

        &--medium{
            padding: 5px 25px;
            font-size: 14px;
            line-height: 22px;
            height: 32px;
            @include border-radius(20px);
        }

        &--small{
            padding: 0 10px;
            font-size: 11px;
            line-height: 22px;
            height: 22px;
            @include border-radius(20px);
        }



    &--primary,
    &--success,
    &--warning,
    &--danger{
        color: $color-white;

    }

    &--full{
        width:100%;
    }
}

span.btn{
    display: inline-block;
}