.form-group,.input-group{
    margin-bottom: 25px;
    /*width: calc(100% - 2rem);*/
    width: 100%;
}
.form-group{
    &.line{
        padding-bottom: 30px;
        border-bottom: 1px solid $color-mystic;
    }
    .info{
            font-family: $font-family-accent;
            font-size: 14px;
            color: $color-topaz;
            font-style: italic;
            line-height: 20px;
            margin: 10px 0;
    }
    &.padder-sm{
        padding-left: 10px;
    }
    &.padder-md{
        padding-left: 20px;
    }
    &.padder-lg{
        padding-left: 40px;
    }

    .select-form{
        .select{
            width: 100%;
            border: 1px solid $color-lobiolly;
            height: 40px;

            select{
                color: $color-lobiolly;
                padding-right: 4.5em;
            }
        }
    }

    &.v-select{
        .selected-tag{
            margin-top: 10px !important;
            display: inline-block;
        }
    }

}
.form-check{
    position: relative;
    display: inline-block;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    label{
        font-weight: 400;
        color: $color-topaz;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: inherit;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .checkmark {
                background-color: $color-white;
            }
            &:checked ~ .checkmark:after {
                display: block;
            }
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .radiomark {
                background-color: $color-white;
                box-sizing: initial;
            }
            &:checked ~ .radiomark:after {
                display: block;
            }
        }

        .checkmark {
            top: 2px;
            left: 0;
            color: $color-checkbox;
            border: 1px solid $border-checkbox;
            background-color: $color-white;
            width: 15px;
            height: 15px;
            position: absolute;
            @include border-radius(3px);

            &:after {
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                left: 5px;
                top: 1px;
                width: 4px;
                height: 10px;
                border: solid $color-checkbox;
                border-width: 0 1px 1px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &:hover:hover input ~ .checkmark {
            background-color: $bg-checkbox;
        }

        .radiomark {
            position: absolute;
            top: 0;
            left: 0;
            color: $color-checkbox;
            border: 1px solid $border-checkbox;
            background-color: $color-white;
            width: 15px;
            height: 15px;
            position: absolute;
            @include border-radius(50%);

            &:after {
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                left: 3px;
                top: 3px;
                width: 9px;
                height: 9px;
                @include border-radius(50%);
                background-color: $color-primary;

            }
        }
        &:hover:hover input ~ .radiomark {
            background-color: $bg-checkbox;
        }
    }

}


label{
    color: $label-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 15px;
    display: block;
}
.form-control-important{

    width: 100% !important;
    padding: 9px 15px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: $color-input !important;
    background-color: $color-white !important;
    background-clip: padding-box !important;
    border: 1px solid $border-input !important;
    @include border-radius(3px) ;
    outline:$color-input-outline !important;

    @include placeholder {
        color: $color-placeholder !important;
    }

    &:disabled{
        background-color: $bg-input-disabled;
    }
    &:focus,&:active,&.active{
        border-color: $border-input-active;
    }

}
.form-control{
    display: block;
    width: 100%;
    padding: 9px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $color-input;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid $border-input;
    @include border-radius(3px);
    outline:$color-input-outline;

    @include placeholder {
        color: $color-placeholder;
    }

    &:disabled{
        background-color: $bg-input-disabled;
    }
    &:focus,&:active,&.active{
        border-color: $border-input-active;
    }

    &.large{
        width: 100%;
    }
    &.medium{
        width: 70%;
    }
    &.small{
        width: 50%;
    }
    &.narrow {
        height: 30px !important;
        padding: 5px 10px;
        font-size: 14px;
    }

}

.select-narrow {
    margin-top: 10px;
    &::after {
        top: 1em !important;
    }
}

select.form-control:not([size]):not([multiple]) {
    height: 40px;
}

select.form-control{
    display: block;
    width: 100%;
    padding: 9px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $color-input;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid $border-input;
    border-color: $border-input !important;
    @include border-radius(3px);
    outline:$color-input-outline;
}


.input-group{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 150px;

    &>.form-control{
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border-right: none;
    }
    &>.form-control:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group-append{
        margin-left: -1px;
    }
    .input-group-text{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 8px 10px;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $color-placeholder;
        text-align: center;
        white-space: nowrap;
        background-color: $color-white;
        border:1px solid $border-input;
        @include border-radius(0 3px 3px 0);
        border-left: none;
    }

    .input-group-prepend{
        margin-right: -1px;
    }
}



.input-group-duo{
    @extend .input-group;
    width: 210px;

    &.rekening{
        width:100%;
    }

    .input-group-append,
    .input-group-prepend,
    .form-control{
        width: 100px;
        display: inline-block;
        flex: 50px;
    }
    .input-group-prepend{
        @include border-radius(3px 0 0 3px);
        border-left:1px solid $border-input;
        color: $color-placeholder;

        .input-group-text{
            @include border-radius(3px 0 0 3px);
        }
    }

    .input-group-append{
        border-left:1px solid $border-input;
        margin-left: 0;
        color: $color-placeholder;
    }

    .form-control{
        @include border-radius(0 3px 3px 0);
        border-right:1px solid $border-input;
    }
    &>.custom-select:not(:last-child){
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
    }
    &>.form-control:not(:last-child){
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        border-right:none !important;
    }

    &.select-form-group{
        .input-group-append{
            border-left:none;

            .select{
                height: 40px;
                border: 1px solid $color-lobiolly;
                @include border-radius(0 3px 3px 0);
                border-left: none;
                padding-top: 1px;
            }
        }
    }
}

.custom-file{
    position: relative;
    display: inline-block;
    background-color: $color-white;
    height: 38px;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid $border-input;
    @include border-radius(3px);

    &.no-border{
        border: none;
    }
    &.grey{
        background-color: $color-mystic;
        border:none;
        width: 240px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.landscape{
            width: 150px;
            height: 240px;
        }

        input[type=file]{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    img{
        width: 150px;
        height: 240px;
        object-fit: cover
    }

    &.circle{
        @include border-radius(50%);
        width: 120px;
        height: 120px;
    }


    .custom-file-label{
        margin-top: 20px;
        position: absolute;
    }
    .custom-file-input {
        position: relative;
        z-index: 2;
        height: 38px;
        margin: 0;
        opacity: 0;
    }
    button {
        position: absolute;
        top: 3px !important;
        right: 0 !important;
        left: 13px !important;
    }
}


/* Custom Select Input */
.v-select .dropdown-toggle{
    @extend .form-control-important;
}
.v-select .selected-tag{
    padding: 0;
}
.v-select .dropdown-menu{
    @include box-shadow(0 10px 20px  $color-shadow !important);
    border:1px solid $border-input !important;
    border-top:none !important;
    overflow: hidden !important;
    margin-top: -2px !important;

}
.v-select .dropdown-menu li a{
    width: 100% !important;
    padding: 5px 10px !important;
    color: $color-submenu;
    background-color: $color-white;
}
.v-select .dropdown-menu .highlight>a,.v-select .dropdown-menu .active>a,.v-select .dropdown-menu li:hover > a{
    background-color: $bg-select-hover !important;
    color: $color-submenu !important;
}
.v-select .selected-tag{
    color: $color-input !important ;
    padding:4px 50px 4px 7px  !important;
    background-color: $bg-multiple-select !important;
    font-size: 14px !important;
    color: $color-multiple-select !important;
    border:none !important;
}
.v-select .selected-tag{
    position: relative;
    margin:0 10px 0 0 !important;
    @include border-radius(3px);

}
.v-select .selected-tag .close{
    margin-left: 2px;
    font-size: 1.25em;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 10px !important;
    top: 3px !important;
    font-weight: 400;
    text-shadow: none !important;
    font-size: 20px !important;

}
.select {
    select{
        border-color: transparent;
        font-family: $font-family-base;
        font-weight: 600;
        font-size: 16px;

        &:focus{
            outline: none;
        }

        &:hover{
            border-color: transparent;
        }
    }
    &:not(.is-multiple):not(.is-loading)::after {
        border-color: $color-primary;
        right: 1.125em;
        z-index: 4;
        top: 1.3em;
    }
}

.filter-select{
    .select{
        &:not(.is-multiple):not(.is-loading)::after {
            border-color: $color-martinique;
        }
    }
}

.filter-table-list{
    margin-bottom: 0;
    padding-bottom: 0;

    .filter-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: start;
        .form-group{
            position: relative;
            input[type=text]{

                width: 100%;
                height: 60px;
                box-shadow: 0 1px 2px 0 #E1E8EF;
                border: none;
                @include border-radius(0 5px 5px 0);
                padding-left: 50px;
            }
            img{
                position: absolute;
                left: 20px;
                top: 22px;
                z-index: 10;
            }
        }
    }

    .filter-select{

        .control{
            .select{
                select{
                    width: 250px;
                    height: 60px;
                    @include border-radius(5px 0 0 5px);
                    border-right: 1px solid $color-mystic;
                    padding: 0 20px;
                    box-shadow: 0 1px 2px 0 #E1E8EF;
                    &:active{
                        border-color:transparent;
                    }
                }
                &:after{
                    margin-top: 5px;
                }
            }
        }
    }
}

.checkbox-example {
    position: relative;
    width: 100%;
    background: transparent;
    padding: 10px 0;
    margin:0px;
    display: flex;

  }
label.checkbox-toggle-label {
    color: $color-martinique;
    position: absolute;
    padding-left: 50px;
    left: 0;
    font-weight: 600;
    font-size: 16px;


    span.on {
      position: absolute;
      top: 22px;
      right:65px;
    }
    span.off{
      position: absolute;
      top: 22px;
      right: 38px;
      display:inline-block;
    }

  }

  label.checkbox-toggle-label.left{
    padding-left: 0px;
  }

  label.checkbox-toggle-label:before   {
    content: '';
    background: $color-lobiolly;
    width: 40px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0;

    @include border-radius(20px)
}


label.checkbox-toggle-label:after   {
        content: '';
        position: absolute;
        left: 3px;
        top: 2px;
        width: 16px;
        height: 16px;
      background: $color-white;
      transition: .1s ease-in;
      @include border-radius(50%);
}

input.checkbox-toggle {
  visibility: hidden;
   &:checked + label.checkbox-toggle-label:after {
      opacity: 1;
      transform: translateX(18px);
      background: $color-white;
    }
    &:checked + label.checkbox-toggle-label:before {
      background: $color-primary;
    }
    &:checked + label.checkbox-toggle-label {
      color: $color-martinique;
      text-indent: 0;

       span.on {
          display:inline-block;
        }

      span.off {
          display:none;
        }
    }
}