.icon{
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;


    img{
        margin-right: 10px;
    }
}
a.icon{
    line-height: 34px;
}

.info.icon {
    display: block;
    width: 18px;
    height: 18px;
    padding-top: 10px;
}
