.pagination{
	.prev,.next{
		color: $color-white;
		background-color: $color-primary;
		padding: 0 15px;
		line-height: 30px;
		height: 30px;
		@include border-radius(20px);
		font-size: 14px;
		font-weight: 700;
		margin: 0 10px;
	}
	.item{
		color: $color-primary;
		padding: 0 10px;
		position: relative;
		&:after{
			position: absolute;
			content: '.';
			right:0;
			bottom:0;
		}

		&:nth-last-child(1){
			&:after{
				display: none;
			}
		}
	}
}