/*
// #Content
// --------------------------------------------------
*/

.site-content {
  margin: 80px 0 0 260px;
  position: absolute;
  padding: 0;
  width: calc(100% - 260px);

  .user-content{
    margin: 0;
  }
}
.user-content{
  margin: 120px auto 0 auto;
  position: absolute;
}
.column{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.columns{
  padding-bottom: 40px;
  &.is-gapless{
    padding-bottom: 0;
    margin-bottom: 0 !important;
  }
}

.is-gapless{
  padding-bottom: 0;
  margin-bottom: 0 !important;
}


.meta-info {
  font-size: 14px;
  flex-flow: row nowrap;

  .item-container {
    margin-left: 10px;
    margin-right: 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .item{
    margin-bottom: 20px;
    margin-right: 10px;
    width: 220px;

    .title {
      color: $color-topaz;
      font-size: 11px;
      margin: 0 0 10px 0;
      line-height: 1;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
    .value {
      line-height: 1.2;
    }
  }
  &--big {
    font-size: 16px;
    margin-top: 20px;
    .item-container {
      width: 30%;
      .item {
        width: auto;
        .title {
          font-size: 13px;
        }
      }
    }
  }
}

.photo-id {
  width: 350px;
  &:first-child {
    margin-right: 10px;
  }
  &:last-child {
    margin-left: 10px;
  }
  img {
    object-fit: cover;
    width: 350px;
    height: 100%;
  }
}