.header{
    padding: 15px 20px;
    display: flex;
    position: relative;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;

    &--user-dashboard{
        @include box-shadow(0 1px 2px $color-shadow-header);
        background-color: $color-white;
    }
    &--signup-dashboard{
        background-color: #edeff4;
    }
    .logo{
        flex-grow: 1;
        display: flex;
        align-items: center;

        a{
            width: 130px;
        }

        img{
            width: auto;
            max-height: 40px;
        }

        .store-select{
            margin-left: 25px;
            padding-left: 25px;
            border-left: 1px solid $color-lobiolly;
            p{
                color: $color-topaz;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 0;
            }
        }

    }
    .user-setting{
        ul{
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li{
                flex-grow: 2;
                padding-left: 20px;
                display: flex;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}

body.home{
    aside.side-icon,
    aside.side-menu
    {
        display: none;
    }

    .header--user-dashboard{
        background-color: #edeff4;
    }
}

.with-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 0;
    padding-bottom: 20px;
    .avatar {
        margin-right: 10px;
    }
    .head {
        margin-bottom: 0;
        line-height: 1;
        font-weight: 600;
    }
    .sub-head {
        font-size: 15px;
        letter-spacing: -0.2px;
        color: $color-topaz;
        line-height: 1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
    }
    .badges {
        letter-spacing: 0;
        position: absolute;
        top: 40px;
        right: 40px;
        line-height: 1.35;
    }
}