.card{
    background-color: $color-white;
    @include border-radius(5px);
    @include box-shadow(0 1px 2px $color-mystic);
    min-height: 400px;
    box-sizing: border-box;
    &--theme-card{
        padding:30px;
    }

    .heading{
        text-transform: none;

        &.border{
            border-bottom: 1px solid $color-mystic;

            h4{
                text-transform: none;
            }
        }
        &.columns{
            padding-bottom: 0;
            margin-bottom: 0;
        }
        p{
            letter-spacing: 0;
            font-size: 14px;

            b{
                font-weight: 700;
            }
        }
    }

    .sub-heading{
        p{
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 3px;
        }
    }

    &--transparent{
        background-color: transparent;
        display: flex;

        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;

        .info{
            width: 100%;
        }
    }

    &--statistic{
        padding:30px 50px;
        min-height: auto;



        h4{
            margin-bottom: 20px;
            line-height: 40px;
            font-weight: 600;
        }
        .img{
            margin-right: 30px;
        }
        .info{
            display: flex;
            flex-direction: row;
            .description{
                width:100%;

                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    font-family: $font-family-accent;
                    color: $color-topaz;
                }
            }
            h4{
                margin-bottom: 5px;
                line-height: 18px;
                span{
                    font-weight: 400;
                }
            }
            p{
                margin: 0;
            }
            &--footer{
                display:flex;
                flex-direction: row;
                border-top: 1px solid $color-mystic;
                padding-top: 10px;
                margin-top: 10px;
                p{
                    margin-right: 20px;
                    color: $color-topaz;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $font-family-base !important;
                    span{
                        margin-right: 3px;
                    }
                }
            }
        }
        .action{
            margin-top: 30px;
            form{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                .form-group{
                    margin-bottom: 0;
                    input[type=text]{
                        width: 200px;
                    }
                }
            }

        }
    }

    &--orders{
        min-height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .column{
            width: 33.33%;
            padding:15px 0;

            &.is-half{
                width: 50%;
            }
            .img{
                margin-right: 10px;
            }
            .img,.info{
                display: inline-block;
                vertical-align: middle;
            }
            img{
                height: 24px;
                width: auto;

            }
            h5{
                margin-bottom: 0;
            }
            p{
                margin:0 ;
            }
        }
    }

    &--feature{
        padding: 30px 40px;
        display: flex;
        flex-direction: row;
        min-height: auto;
        align-items: center;
        .img{
            vertical-align: middle;
            margin-right: 50px;
        }
        .info{
            h5{
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                color: $color-smoky;
                margin-top: 0;
                margin-bottom: 20px;
                line-height: 20px;
            }
        }
    }

    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid $color-mystic;
        p{
            color: $color-topaz;
            line-height: 20px;
            margin: 0;
            a{
                display: inline;
            }
        }
        .action{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                margin-left: 10px;
            }
        }

    }

}
.product-card{
    display: flex;
    justify-content: center;

    .info{
        margin-left: auto;

        h5{
            color: $color-martinique;
            margin:0;
            float: left;
        }
        span.price{
            color: $color-mount;
            font-weight: 600;
            float: right;
            line-height: 18px;
        }
        span.sku{
            color: $color-topaz;
            font-size: 14px;
            display: inline-block;
            width: 100%;
        }
        p{
            margin-top: 5px;
            font-size: 14px;
            font-weight: 400;
            color: $color-smoky;
            line-height: 17px;
        }
    }
 }

 .theme-card{
     .info{
         margin-top: 20px;
         display: flex;
         a{
            font-size: 14px;
            color: $color-primary;
         }
         button{
             margin-left: auto;
         }
     }
 }
.img{
    margin-right: 30px;

    img{
        @include border-radius(3px 3px 0 0);
    }
    &--extra-small{
        width: 60px;
        height: auto;

        img{
            object-fit: cover;
            object-position: center;
            width: 60px;
            height: auto;
        }
    }
    &--small{
        width: 100px;
        height: 100px;

        img{
            object-fit: cover;
            object-position: center;
        }
    }

    &--extra-large{
        width:100%;
        height:300px;
        overflow: hidden;

        img{
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}