.text-bold{
    font-weight: 600;
}
.m-t-md{
    margin-top: 30px;
}
.margin-none{
    margin: 0 !important;
}
.padding-h-md{
    padding: 0 15px;
}
.padding-h-lg{
    padding: 0 25px;
}
.padding-v-md{
    padding: 15px 0;
}
.padding-m{
    padding: 20px;
}
.padding-t-m{
    padding-top: 20px;
}
.padding-b-m{
    margin-bottom: 20px;
}
.padding-bottom-none {
    padding-bottom: 0 !important;
}
.text-center{
    text-align: center;
}
.demo-button button{
    margin-bottom: 10px;
}
.center{
    &.middle{
        justify-items:center;
        align-items: center
    }
}
.space-lg{
    padding: 10px 0;
    margin: 10px 0;
    border:none;
    background: transparent;
}

.padding_img{
    img{
        margin-right: 20px;
    }
}
.icon-small {
    img{
        max-height: 35px;
    }
}
.bg-grey{
    background: $color-lobiolly;
    padding: 10px;
}
.clear{
    padding: 20px 0;
}

.relative{
    position: relative !important;
}
