//- Template Variable
//- ----------------------------------------------

$template: Mayaraya;


//- Base
//- ----------------------------------------------

$font-family-base:   'Nunito Sans', sans-serif !default;
$font-family-accent:  Georgia, serif !default;
$base-font-size:     15px !default;
$base-line-height:   26px !default;
$font-size-mobile:   13px !default;
$line-height-mobile: 22px !default;
$body-font-weight:   400 !default;




//- Colors
//- ----------------------------------------------

//Main
$color-primary:         #7A5ACA;
$color-secondary:       #5594F4;

$color-primary-dark:    #654CA2;



//UI Color
$color-briliant-rose:   #F05598;
$color-briliant-rose-dark:   #B7497F;
$color-east-side:       #917CC7;
$color-smoky:           #645D74;
$color-topaz:           #85808E;
$color-lavender:        #CDC5E1;
$color-white:           #fff;
$color-lobiolly:        #B9C0C8;
$color-geyser :         #DCE1E7;
$color-mystic:          #E1E8EF;
$color-moon-raker:      #E8E7FA;
$color-athens-grey:     #F5F7F9;
$color-martinique:      #352E47;
$color-gull-grey:       #97A5B3;

//Utility Color
$color-mount:           #10A273;
$color-mount-dark:      #1B7F65;
$color-polar:           #DDF7EE;
$color-budha-gold:      #CAAB08;
$color-burnt-sienna:    #E97453;
$color-burnt-sienna-dark: #B25E4E;

$color-manhattan:       #F6B4A2;
$color-azalea:          #F8DAD2;

$color-shadow-header:       $color-mystic;
$color-notif:               $color-briliant-rose;
$color-notif-alt:           $color-primary;
$color-notif-empty: 		#F3E3A2;
$color-border-sidebar-menu: $color-lobiolly;
$sidebar-bg-color:          $color-mystic;
$color-menu:                $color-topaz;
$color-menu-separator:      $color-lobiolly;


$body-bg-color:        #edeff4;
$body-font-color:         $color-athens-grey;
$body-font-color-inverse: $color-athens-grey;




$link-decoration:       none;
$link-color-hover:      $color-primary;
$link-decoration-hover: none;


//-- Badges
//- ----------------------------------------------
$color-done: $color-lavender;
$color-wait-payment: $color-budha-gold;
$color-unprocess: $color-manhattan;
$color-unverified: $color-burnt-sienna;
$color-verified: $color-secondary;
$color-paid-off: $color-mount;
$color-processed: #EC5063;
$color-completed: $color-topaz;


//-- Breadcrumb
//-- ---------------------------------------------

$bg-breadcrumb: $color-geyser;
$color-breadcrumb: $color-topaz;
$color-breadcrumb-active: $color-primary;

//-- Color Text
//-- ---------------------------------------------
$text-primary : $color-primary;
$text-success: $color-mount;
$text-disabled: $color-topaz;
$text-warning: $color-burnt-sienna;
$text-danger: $color-briliant-rose;
$text-info: $color-secondary;
$text-yellow: $color-budha-gold;

//-- Buttons
//-- ---------------------------------------------
$btn-primary: $color-primary;
$btn-primary-focus: $color-primary-dark;

$btn-secondary: $color-white;
$border-btn-secondary: $color-primary;

$btn-success: $color-mount;
$btn-success-focus: $color-mount-dark;

$btn-disabled: $color-topaz;

$btn-warning: $color-burnt-sienna;
$btn-warning-focus: $color-burnt-sienna-dark;

$btn-danger: $color-briliant-rose;
$btn-danger-focus: $color-briliant-rose-dark;


//-- Forms
//-- ---------------------------------------------
$label-color : $color-martinique;
$color-checkbox: $color-mount;
$border-checkbox: $color-lobiolly;
$bg-checkbox: $color-athens-grey;
$border-input: $color-lobiolly;
$color-placeholder: $color-topaz;
$color-input-outline: $color-secondary;
$color-input: $color-smoky;
$bg-input-disabled: $color-geyser;
$border-input-active: $color-secondary;
$color-shadow: $color-mystic;
$bg-select-hover:$color-mystic;
$color-submenu:$color-topaz;
$bg-multiple-select: $color-lobiolly;
$color-multiple-select: $color-martinique;

//- Typography
//- ----------------------------------------------

$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 36px;
$font-size-h4: 24px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$headings-font-family:   $font-family-base;
$headings-color:         $color-martinique;
$headings-color-inverse: $color-white;

$font-style-h1: normal;
$font-style-h2: normal;
$font-style-h3: normal;
$font-style-h4: normal;
$font-style-h5: normal;
$font-style-h6: normal;

$text-transform-h1: uppercase;
$text-transform-h2: uppercase;
$text-transform-h3: uppercase;
$text-transform-h4: none;
$text-transform-h5: uppercase;
$text-transform-h6: uppercase;
